<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-7">
            <h4>Table <b>"{{ databaseName }}"</b></h4>
          </div>
          <div class="col-sm-5">
            <!-- Add any additional buttons or actions here -->
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <thead>
          <tr>
            <!-- Dynamically generate table headers based on the keys of the first item in tableList -->
            <th *ngFor="let header of columnHeaders">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- Dynamically generate table rows based on items in tableList -->
          <tr *ngFor="let row of tableList">
            <!-- Dynamically generate table cells based on the keys of each row -->
            <td *ngFor="let header of columnHeaders">{{ row[header] }}</td>
            <!-- Add additional columns based on row properties if needed -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
