<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Edit database</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              &nbsp;Back</a>
          </div>
        </div>
      </div>
      <form #databaseForm="ngForm">
        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="databaseName" class="p-t-b-10">Database name<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="databaseName" required pattern="^[a-zA-Z_][a-zA-Z0-9_]*$"
                [(ngModel)]="editdatabaseForm.databaseName" name="databaseName" #databaseName="ngModel">
              <div *ngIf="databaseName.errors && isSubmitted" class="alert alert-danger validationError">
                <div *ngFor="let error of databaseName.errors | keyvalue">
                  {{formValidationMessages[error.key]}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-footer">
          <button class="btn btn-success" (click)="Editdatabase(databaseForm.form.valid)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>